/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --first-color: #da2535;
  --first-color-alt: #c42130;
  --first-color-send: #de3b49;
  --title-color: #fefbf3;
  --text-color: #f8f0df;
  --text-color-light: #f7d9d9;
  --body-color: #302b63;
  --container-color: #302b63;

  /*========== Font and typography ==========*/
  --body-font: "Montserrat", sans-serif;
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;

  /*========== Font weight ==========*/
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== Margenes ==========*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*========== z index ==========*/

  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 3rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

/*========== BASE ==========*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*========== CLASS CSS ==========*/
.section {
  padding: 4rem 0 2rem;
}

.section-title,
.section-title-center {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: var(--mb-1);
}
.section-title-sub {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: left;
  margin-top: var(--mb-5);
  margin-bottom: var(--mb-2);
}
.section-space {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: left;
  margin-top: var(--mb-4);
  margin-bottom: var(--mb-1);
}

/*========== LAYOUT ==========*/
.l-main {
  overflow: hidden;
}

.bd-container {
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #383374;
}

/*========== NAV ==========*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    width: 90%;
    margin: 0 auto;
    padding: 2.5rem 0 0;
    text-align: center;
    background-color: #302b63af;
    transition: 0.4s;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    z-index: var(--z-fixed);
  }
}

.nav__item {
  margin-bottom: var(--mb-3);
}

.nav__link,
.nav__logo,
.nav__toggle {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

.nav__link {
  transition: 0.3s;
}

.nav__toggle {
  font-size: 1.3rem;
  cursor: pointer;
}

/* Show menu */
.show-menu {
  top: calc(var(--header-height) + 1rem);
}

/* Active menu link */
.active-link {
  position: relative;
}

.active-link::before {
  content: "";
  position: absolute;
  bottom: -0.75rem;
  left: 45%;
  width: 5px;
  height: 5px;
  background-color: var(--title-color);
  border-radius: 50%;
}

/* Change background header */
.scroll-header {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

/* Scroll top */
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  background: rgba(218, 37, 53, 0.5);
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
  visibility: hidden;
}

.scrolltop:hover {
  background-color: var(--first-color);
}

.scrolltop__icon {
  font-size: 1.5rem;
  color: var(--body-color);
}

.show-scroll {
  visibility: visible;
  bottom: 1.5rem;
}

/*========== HOME ==========*/
.home__img {
  width: 280px;
  justify-self: center;
}

.home__title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-bold);
  margin-bottom: var(--mb-2);
  text-align: center;
}

.home__description {
  margin-bottom: var(--mb-1);
  text-align: left;
}
.home__desc {
  margin-bottom: var(--mb-5);
  text-align: left;
}
.home_animation {
  text-transform: uppercase;
  background: linear-gradient(90deg, #302b63, #f4f9f9, #302b63);
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 10s linear infinite;
  position: relative;
}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}

/*========== BUTTONS ==========*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: var(--font-semi-bold);
  transition: 0.3s;
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button-link {
  background: none;
  padding: 0;
  color: var(--first-color);
}

.button-link:hover {
  background-color: transparent;
  color: var(--first-color-alt);
}

/*========== About Me ==========*/
.aboutme__data {
  text-align: center;
}

.aboutme__description {
  margin-bottom: var(--mb-2);
  text-align: justify;
}

.aboutme__img {
  width: 380px;
  justify-self: center;
}
.aboutme__border {
  border-radius: 63% 37% 30% 70% / 50% 45% 55% 50%;
  background: linear-gradient(45deg, #332e6a, #2b2759);
  box-shadow: 31px -31px 53px #211d43, -31px 31px 53px #3f3983;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}

.border-light {
  border-color: #d1d9e6 !important;
}

/*========== Works ==========*/
.works__container {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}
.box {
  text-align: center;
  padding: 1rem 1rem 2rem;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  width: 320px;
  height: 170px;
  flex-wrap: wrap;
  background: #24243e;
  border-radius: 5px;
}
.box:hover {
  height: 250px;
}

.box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.box .imgBx img {
  max-width: 100%;
  opacity: 0.1;
  transition: 0.5s;
}
.box:hover .imgBx img {
  opacity: 1;
}
.box:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: rgba(255, 255, 255, 0.322);
  border-radius: 5px;
  z-index: -1;
}

.box:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  border-radius: 5px;
  z-index: -2;
  filter: blur(40px);
}
.box:before,
.box:after {
  background: linear-gradient(to bottom, #43c6ac, #191654);
}
.box:nth-child(2):before,
.box:nth-child(2):after {
  background: linear-gradient(to bottom, #c6ffdd, #fbd786, #f7797d);
}
.box:nth-child(3):before,
.box:nth-child(3):after {
  background: linear-gradient(to bottom, #12c2e9, #c471ed, #f64f59);
}
.box:nth-child(4):before,
.box:nth-child(4):after {
  background: linear-gradient(to bottom, #12c2e9, #c471ed, #f64f59);
}
.box:nth-child(5):before,
.box:nth-child(5):after {
  background: linear-gradient(to bottom, #12c2e9, #c471ed, #f64f59);
}
.box:nth-child(6):before,
.box:nth-child(6):after {
  background: linear-gradient(to bottom, #12c2e9, #c471ed, #f64f59);
}
.box .card_content {
  position: absolute;
  bottom: 0;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 90px;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}
.box:hover .card_content {
  opacity: 1;
  transition: 0.5s;
}
.box .card_content h2 {
  font-size: 20px;
  color: #fff;
  font-weight: var(--font-semi-bold);
  line-height: 20px;
  letter-spacing: 1px;
}

.box .card_content h2 span {
  font-size: 14px;
  color: #fff;
  font-weight: var(--font-semi-bold);
  line-height: 20px;
  letter-spacing: 2px;
}

.works__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
}
/*========== Works ==========*/
.works__container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.box2 {
  text-align: center;
  padding: 1rem 1rem 2rem;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  width: 550px;
  height: 250px;
  flex-wrap: wrap;
  background: #24243e;
  border-radius: 5px;
}
.box2:hover {
  height: 300px;
}

.box2 .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.box2 .imgBx img {
  max-width: 100%;
  opacity: 0.1;
  transition: 0.5s;
}
.box2:hover .imgBx img {
  opacity: 1;
}
.box2:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: rgba(255, 255, 255, 0.322);
  border-radius: 5px;
  z-index: -1;
}

.box2:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  border-radius: 5px;
  z-index: -2;
  filter: blur(40px);
}
.box2:before,
.box2:after {
  background: linear-gradient(to bottom, #43c6ac, #191654);
}

.box2 .card_content {
  position: absolute;
  bottom: 0;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 90px;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}
.box2:hover .card_content {
  opacity: 1;
  transition: 0.5s;
}
.box2 .card_content h2 {
  font-size: 20px;
  color: #fff;
  font-weight: var(--font-semi-bold);
  line-height: 20px;
  letter-spacing: 1px;
}

/*========== ACCESSORIES ==========*/
.accessory__container {
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 2rem;
}

.accessory__content {
  position: relative;
  display: grid;
  padding: 0.25rem 0.75rem 0.75rem;
  background-color: var(--container-color);
  box-shadow: 0 2px 6px rgba(65, 11, 16, 0.15);
  border-radius: 1rem;
}

.accessory__content:hover {
  box-shadow: 0 3px 12px rgba(65, 11, 16, 0.15);
}

.accessory__img {
  width: 110px;
  justify-self: center;
  margin-bottom: 0.25rem;
}

.accessory__title,
.accessory__category {
  text-align: center;
}

.accessory__title {
  font-size: var(--normal-font-size);
}

.accessory__category {
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
  color: var(--text-color-light);
}

.accessory__preci {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.accessory__button {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  font-size: 1.25rem;
  padding: 0.5rem 0.625rem;
  border-radius: 1rem 0 1rem 0;
}

/*========== SEND GIFT ==========*/
.send {
  background-color: var(--first-color-send);
}

.send__title,
.send__description {
  color: #fff;
}

.send__description {
  text-align: center;
  margin-bottom: var(--mb-4);
}

.send__direction {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.send__input {
  width: 70%;
  outline: none;
  border: none;
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
}

.send__input::placeholder {
  font-family: var(--body-font);
}

.send__img {
  width: 280px;
  justify-self: center;
}

/*========== FOOTER ==========*/
.footer__container {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.footer__logo {
  color: var(--title-color);
}

.footer__title {
  margin-bottom: var(--mb-2);
}

.footer__logo,
.footer__title {
  font-size: var(--h3-font-size);
}

.footer__link {
  display: inline-block;
  margin-bottom: 0.75rem;
  color: var(--text-color);
}

.footer__link:hover {
  color: var(--first-color);
}

.footer__social {
  font-size: 1.5rem;
  color: var(--title-color);
  margin-right: var(--mb-3);
}

.footer__social:hover {
  color: var(--first-color);
}

.footer__copy {
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-top: 4rem;
}

/*========== MEDIA QUERIES ==========*/

/* For full-screen images on small screens */
@media screen and (max-width: 359px) {
  .home__img,
  .aboutme__img,
  .send__img {
    width: 100%;
  }
}

@media screen and (min-width: 576px) {
  .aboutme__container,
  .home__container .send__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .home__container {
    padding: 15rem 2rem 0;
  }

  .home__img {
    order: 1;
  }

  .section-title-center,
  .home__container .aboutme__data,
  .send__description {
    text-align: initial;
  }

  .home__img,
  .aboutme__img,
  .nav__toggle .send__img {
    width: 100%;
  }

  .aboutme__img {
    order: -1;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .section {
    padding-top: 7rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__list {
    display: flex;
    align-items: center;
  }

  .nav__item {
    margin-left: var(--mb-5);
    margin-bottom: 0;
  }

  .nav__toggle {
    display: none;
    background-color: #24243e;
  }

  .home__container {
    padding: 12rem 2rem 0;
  }

  .aboutme__container {
    padding: 0 2rem;
  }

  .accessory__container {
    grid-template-columns: repeat(3, 224px);
    justify-content: center;
  }

  .accessory__content {
    padding: 0.5rem 1.5rem 1.5rem;
  }

  .accessory__img {
    width: 120px;
    margin-bottom: var(--mb-1);
  }

  .accessory__title,
  .accessory__category {
    text-align: initial;
  }

  .accessory__button {
    padding: 0.75rem;
  }

  .send {
    background: none;
  }

  .send__container {
    background-color: var(--first-color-send);
    padding: 2rem;
    border-radius: 1.5rem;
  }
}

@media screen and (min-width: 968px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }

  .aboutme__img,
  .send__img {
    width: 450px;
  }

  .aboutme__container,
  .send__container {
    column-gap: 5rem;
  }
}
